<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ant-design-vue@3.2.6/dist/antd.css">

  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/ant-design-vue@3.2.6/dist/antd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
</head>
<body>
<div id="app"></div>
</body>
<script type="text/javascript" src="./data.js"></script>
<script type="text/javascript">
  const plainOptions = [
    {
      label: '普通顾客',
      value: 'normal',
    }, {
      label: '稀有顾客',
      value: 'rare',
    }
  ];

  const dishColumns = [
    {
      title: '菜品名称',
      dataIndex: 'name',
    },
    {
      title: '得分',
      width: '80px',
      dataIndex: 'score',
      sorter: (a, b) => b.score - a.score,
    },
    {
      title: '价格',
      width: '80px',
      dataIndex: 'price',
      sorter: (a, b) => a.price - b.price,
    },
    {
      title: '厨具',
      width: '80px',
      dataIndex: 'cook',
    },
    {
      title: '材料',
      dataIndex: 'useList',
      customRender: ({record}) => {
        return record.useList?.join(', ')
      }
    },
  ];

  const wineColumns = [
    {
      title: '酒水名称',
      dataIndex: 'name',
    },
    {
      title: '得分',
      width: '80px',
      dataIndex: 'score',
      sorter: (a, b) => b.score - a.score,
    },
    {
      title: '价格',
      width: '80px',
      dataIndex: 'price',
      sorter: (a, b) => a.price - b.price,
    },
  ];

  function getWeight(data) {
    return data.score * 1000 + data.price;
  }

  const app = Vue.createApp({
    template: `
          <div class="app">
            <dong-fang></dong-fang>
          </div>
        `
  });

  app.use(antd)

  app.component('dong-fang', {
    template: `
      <div class="header">
      <div class="header-main">
        <div class="header-title">东方夜雀食堂</div>
      </div>
      </div>
      <div class="fav-row">
      <a-row :gutter="[12, 12]">
        <a-col v-bind="wrapperCol.customer">
          <a-card class="customer-card" :bodyStyle="{padding: '12px'}">
            <template #title>
              <div style="display: flex; justify-content: space-between">
                <div>
                  选择顾客
                  <span class="customer-money">{{ getCustomerMoney(selectedCustomer) }}</span>
                </div>
<!--                <a-checkbox-group v-model:value="customerTypes" :options="plainOptions">
                  <template #label="{ option }">
                    {{ option.label }}
                  </template>
                </a-checkbox-group>-->
              </div>
            </template>
            <template #extra><a-button type="primary" @click="handleSetting">设置</a-button></template>
            <div class="customer-list">
              <template v-for="(customer, i) in customerList
              .filter(c => customerTypes.includes(c.type))
              .filter(c => c.distanceList.filter(d => distanceTypes.includes(d)).length > 0)
              .sort((c1, c2) => c1.type.localeCompare(c2.type))" :key="i">
                <a-tag v-else class="customer-tag" @click="handleClickCus(customer)" :color="customer.name === selectedCustomer?.name ? '#d3adf7' : 'purple'">
                  {{ customer.name }}
                </a-tag>
              </template>
            </div>
          </a-card>
        </a-col>
        <a-col v-bind="wrapperCol.dish">
          <a-card :bodyStyle="{padding: 0}">
            <template #title>
              <div style="display: flex; justify-content: space-between">
                <div>
                  推荐菜品
                </div>
                <a-checkbox v-model:checked="showAllDish">仅显示点单</a-checkbox>
              </div>
            </template>
            <div class="fav-tag-list" v-if="selectedCustomer">
              <template v-for="tag in selectedCustomer?.favList?.filter(t => t !== '可能不全')" :key="tag">
                <a-tag class="fav-tag" :color="tag === selectedTag ? '#ffc53d' : 'orange'" @click="handleClickTag(tag)">
                  {{ tag }}
                </a-tag>
              </template>
              <template v-for="tag in selectedCustomer?.dissList?.filter(t => t !== '可能不全')" :key="tag">
                <a-tag class="fav-tag" color="red">
                  X&nbsp;{{ tag }}
                </a-tag>
              </template>
            </div>
            <a-table
              rowKey="name"
              :rowClassName="stripeRow"
              :columns="dishColumns"
              :dataSource="dishDataSource.filter(data => data.hasTag || !showAllDish)"
              :pagination="false"
              :size="tableSize"
            ></a-table>
          </a-card>
        </a-col>
        <a-col v-bind="wrapperCol.wine">
          <a-card :bodyStyle="{padding: 0}">
            <template #title>
              <div style="display: flex; justify-content: space-between">
                <div>推荐酒水</div>
                <a-checkbox v-model:checked="showAllWine">仅显示点单</a-checkbox>
              </div>
            </template>
            <div class="fav-tag-list" v-if="selectedCustomer">
              <template v-for="tag in selectedCustomer?.drinkList?.filter(t => t !== '可能不全')" :key="tag">
                <a-tag class="fav-tag" :color="tag === selectedTagDrink ? '#40a9ff' : 'blue'"
                       @click="handleClickTagDrink(tag)">
                  {{ tag }}
                </a-tag>
              </template>
            </div>
            <a-table
              rowKey="name"
              :rowClassName="stripeRow"
              :columns="wineColumns"
              :dataSource="wineDataSource.filter(data => data.hasTag || !showAllWine)"
              :pagination="false"
              :size="tableSize"
            ></a-table>
          </a-card>
        </a-col>
      </a-row>
      <a-modal v-model:visible="showSetting" title="设置" @ok="handleOk" :width="800">
        <a-form>
          <a-form-item label="顾客类型">
            <a-checkbox-group v-model:value="customerTypes" :options="plainOptions">
              <template #label="{ option }">
                {{ option.label }}
              </template>
            </a-checkbox-group>
          </a-form-item>
          <a-form-item label="选择地区">
            <a-checkbox-group v-model:value="distanceTypes" :options="distanceOptions">
              <template #label="{ option }">
                {{ option.label }}
              </template>
            </a-checkbox-group>
          </a-form-item>
          <a-form-item label="导入数据">
            <a-upload
              v-model:file-list="fileList"
              list-type="text"
              :max-count="1"
              action="#"
              :before-upload="() => false"
            >
              <a-button>
                选择文件
              </a-button>
            </a-upload>
          </a-form-item>
          <div style="color: hotpink">需要修改人物，菜品等数据的同学可以修改目录下的 东方夜雀食堂.xlsx <a href="./东方夜雀食堂.xlsx">下载模板</a> 文件，修改后再进行导入。<br>刷新页面会重置为初始数据，也可以直接修改 data.js 文件永久修改数据</div>

        </a-form>
      </a-modal>
      </div>
    `,
    data() {
      return {
        plainOptions,
        dishColumns,
        wineColumns,
        customerList: [],
        dishList: [],
        wineList: [],
        distanceOptions: [],
        popularProp: undefined,
        unpopularProp: undefined,
        wrapperCol: {
          customer: {
            xxl: 8,
            md: 24,
          },
          dish: {
            xxl: 10,
            md: 16,
          },
          wine: {
            xxl: 6,
            md: 8,
          },
        },
        selectedCustomer: undefined,
        selectedDistance: undefined,
        selectedTag: undefined,
        selectedTagDrink: undefined,
        customerTypes: ['normal', 'rare'],
        distanceTypes: [],
        showAllDish: false,
        showAllWine: false,
        dishDataSource: [],
        wineDataSource: [],
        tableSize: 'normal',
        // tableSize: 'small',
        showSetting: false,
        fileList: []
      }
    },
    created() {
      this.dishList = dishList
      this.wineList = wineList
      this.customerList.push(...rareList)
      this.customerList.push(...normalList)
      this.initDistance()
    },
    methods: {
      getImageUrl(customer) {
        return `https://images.yunbenz.com/uploads/cloud/images/${customer.name}.PNG`
      },
      initDistance() {
        const distanceList = Array.from(this.customerList.filter(c => c.type === 'rare').reduce((total, rare) => total.add(...rare.distanceList), new Set()))
        this.distanceTypes = distanceList
        this.distanceOptions.push(...distanceList.map(v => ({ value: v, label: v})))
        console.log('this.distanceOptions', this.distanceOptions)
      },
      toList(data) {
        if (data instanceof String) {
          return [data]
        } else if (data instanceof Array){
          return data
        }
      },
      importExcel() {
        if (this.fileList.length > 0) {
          const file = this.fileList[0]
          if (file.name.indexOf('.xlsx') > 0) {
            const reader = new FileReader();
            reader.readAsArrayBuffer(file.originFileObj)
            reader.onload = e => {
              let data = e.target.result;
              const workbook = XLSX.read(data, { type: 'array' })
              this.customerList = []
              for (let i = 0; i < workbook.SheetNames.length; i++) {
                const name = workbook.SheetNames[i];
                const json = XLSX.utils.sheet_to_json(workbook.Sheets[name])
                const result = this.transferData(json);
                if (name === '料理') {
                  this.dishList = result
                } else if (name === '酒水') {
                  this.wineList = result
                } else if (name === '普客') {
                  this.customerList.push(...result)
                } else if (name === '稀客') {
                  this.customerList.push(...result)
                }
              }
              console.log('this.dishList', this.dishList)
              console.log('this.wineList', this.wineList)
              console.log('this.customerList', this.customerList)
              this.initDistance();
              this.fileList = [];
            }
          }
        }
      },
      transferData(list) {
        return list.map(line => {
          // console.log('line', line)
          Object.keys(line).forEach(key => {
            let column = line[key]
            // console.log(key, column)
            if (typeof column === 'number') {
              return
            }
            if (column.indexOf('、') >= 0) {
              line[key] = column.split('、').filter(d => d)
            } else if (column.indexOf('－') >= 0) {
              line[key] = column.split('－').filter(d => d)
            } else if (key.indexOf('List') >= 0 || key.indexOf('props') >= 0) {
              line[key] = [column]
            }
          })
          return line
        })
      },
      getFavDish(customerName, tag = null, lessPrice = true) {
        const customer = this.customerList.find(customer => customer.name === customerName);
        if (!customer) {
          return null;
        }
        const {favList, dissList} = customer;
        let scoreList = [];
        this.dishList
          // .filter(dish => tag ? dish.props.includes(tag) : true)
          .forEach(dish => {
            const favSet = new Set(favList)
            const dissSet = new Set(dissList)
            const like = this.toList(dish.props).filter(p => favSet.has(p))?.length || 0;
            const dislike = this.toList(dish.props).filter(p => dissSet.has(p))?.length || 0;
            scoreList.push({
              name: dish.name,
              price: dish.price,
              score: like - dislike,
              cook: dish.cook,
              useList: dish.useList,
              hasTag: tag ? dish.props.includes(tag) : false
            })
          })
        scoreList = scoreList.filter(s => s.score > 0).sort((d1, d2) => getWeight(d2) - getWeight(d1));
        const score = scoreList.length > 0 ? scoreList[0] : {};
        const favDish = this.dishList.find(dish => dish.name === score.name) || {};
        // console.log('=== 推荐菜品 ===')
        // console.log(`顾客: ${customer.name}\n喜好: ${customer.favList.join(',')}\n推荐菜: ${favDish.name}\n分数: ${score.score}\n价格: ${favDish.price}\n厨具: ${favDish.cook}\n材料: ${favDish.useList?.join(',')}`)
        return scoreList;
      },
      getFavWine(customerName, tag = null, lessPrice = true) {
        const customer = this.customerList.find(customer => customer.name === customerName);
        if (!customer) {
          return null;
        }
        const {drinkList} = customer;
        let scoreList = [];
        this.wineList
          // .filter(wine => tag ? wine.props.includes(tag) : true)
          .forEach(wine => {
            const favSet = new Set(drinkList)
            const like = this.toList(wine.props).filter(p => favSet.has(p))?.length || 0;
            scoreList.push({
              name: wine.name, price: wine.price, score: like, hasTag: tag ? wine.props.includes(tag) : false
            })
          })
        scoreList = scoreList.filter(s => s.score > 0).sort((d1, d2) => getWeight(d2) - getWeight(d1));
        const score = scoreList.length > 0 ? scoreList[0] : {};
        const favWine = this.wineList.find(wine => wine.name === score.name) || {};
        // console.log('=== 推荐酒水 ===')
        // console.log(`顾客: ${customer.name}\n喜好: ${customer.drinkList.join(',')}\n推荐酒: ${favWine.name}\n分数: ${score.score}\n价格: ${favWine.price}\n`)
        return scoreList;
      },
      getFavDishByDistance(distance, types = ['normal']) {
        let scoreList = []
        this.customerList
          .filter(customer => types.includes(customer.type) && customer?.distanceList?.includes(distance))
          .map(customer => {
            return this.getFavDish(customer.name);
          })
          .reduce((p, c, i) => {
            return p.concat(c)
          }, [])
          .forEach(d => {
            const score = scoreList.find(s => s.name === d.name)
            if (score) {
              score.score += d.score;
            } else {
              scoreList.push(d)
            }
          })
        scoreList = scoreList.sort((o1, o2) => o2.score - o1.score)
        // console.log(scoreList)
        return scoreList
      },
      getFavWineByDistance(distance, types = ['normal']) {
        let scoreList = []
        this.customerList
          .filter(customer => types.includes(customer.type) && customer?.distanceList?.includes(distance))
          .map(customer => {
            return this.getFavWine(customer.name);
          })
          .reduce((p, c, i) => {
            return p.concat(c)
          }, [])
          .forEach(d => {
            const score = scoreList.find(s => s.name === d.name)
            if (score) {
              score.score += d.score;
            } else {
              scoreList.push(d)
            }
          })
        scoreList = scoreList.sort((o1, o2) => o2.score - o1.score)
        // console.log(scoreList)
        return scoreList
      },
      handleClickCus(customer) {
        console.log('customer', customer)
        this.selectedCustomer = this.selectedCustomer === customer ? undefined : customer;
        this.selectedDistance = undefined;
        this.selectedTag = undefined;
        this.selectedTagDrink = undefined;
        this.dishDataSource = this.getFavDish(this.selectedCustomer?.name, null);
        this.wineDataSource = this.getFavWine(this.selectedCustomer?.name, null);
      },
      handleClickDistance(distance) {
        console.log('distance', distance)
        this.selectedCustomer = undefined;
        this.selectedDistance = this.selectedDistance === distance ? undefined : distance;
        this.selectedTag = undefined;
        this.selectedTagDrink = undefined;
        this.dishDataSource = this.getFavDishByDistance(distance);
        this.wineDataSource = this.getFavWineByDistance(distance);
      },
      handleClickTag(tag) {
        console.log('tag', tag)
        this.selectedTag = this.selectedTag === tag ? undefined : tag;
        this.dishDataSource = this.getFavDish(this.selectedCustomer.name, tag);
      },
      handleClickTagDrink(tag) {
        console.log('tag', tag)
        this.selectedTagDrink = this.selectedTagDrink === tag ? undefined : tag;
        // console.log('this.selectedTagDrink', this.selectedTagDrink)
        this.wineDataSource = this.getFavWine(this.selectedCustomer.name, tag);
      },
      stripeRow(record, index) {
        return record.hasTag && 'has-tag-row-striped';
      },
      getCustomerMoney(customer) {
        const m = customer?.money?.join('-') || '';
        return m ? `${customer.name}:${m}金` : '';
      },
      handleSetting() {
        this.showSetting = true
      },
      handleOk() {
        this.showSetting = false
        this.importExcel()
      }
    }
  })

  app.mount('#app');
</script>
<style>

  #app {
    /*width: 100vw;*/
    /*background: #f1f1f1;*/
  }

  .header {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    background: #1890ff;
  }

  .header-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 40px;
  }
  .header-title {
    font-size: 20px;
    font-weight: 600;
    color: white;
  }

  .fav-row {
    padding: 12px;
  }

  .customer-list {
    display: flex;
    flex-wrap: wrap;
  }

  .customer-tag {
    flex-shrink: 0;
    width: 90px;
    height: 120px;
    padding: 20px 10px;
    margin: 0 8px 8px 0;
    font-size: 14px;
    text-align: center;
    white-space: normal;
    cursor: pointer;
    border: 2px solid transparent;
  }

  .selected {
    border: 2px solid pink;
  }

  .customer-money {
    color: #333333;
    margin-left: 24px;
  }

  .fav-tag-list {
    margin: 12px 0 0 12px;
  }

  .fav-tag {
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    margin: 0 12px 12px 0;
    cursor: pointer;
  }

  .has-tag-row-striped {
    background: #f6ffed;
  }

  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  .right-content {
    line-height: 40px;
    font-size: 18px;
    color: white;
    cursor: pointer;
  }

</style>
</html>